body {
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 background-color: black;
 
}
body.light-theme {
  background-color: #fff;
}



html {
    scroll-behavior: smooth; 
  }
* {
    box-sizing: border-box;
  }
  h1{
      margin-top: 0;
      font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #FFFFFF;
margin: 0;
  }
  @media (max-width: 768px){
    h1{
      font-size: 32px;
line-height: 64px;
font-weight: normal;
    }
  }
  h2 {
      margin-top: 0;
      width: 112px;
    height: 80px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
  }
  @media (max-width: 768px){
    h2{
      font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 32px;
    }
    }
  
  
  #left {
    margin-top: 25px;
    margin-left: 20px;
  }
  .center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    flex-grow: 2;
  }

  @media (max-width:768px){
    .center{
      display: flex;
      width: 620px;
      position: fixed;
      right: -620px;
      background-color: black;
      overflow-x: hidden;
      justify-content: flex-start;
      margin-left: 0%;
      height: 100%;
      transition: 0.5s;
    }
    .center.open{
      position: absolute;
      right: 0;
        }
        .center.light-theme {
          background-color: #fff;
          color: #000;
        }
  }
 
    
  .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin: 20px 20px 20px 31px;
    
  }
  @media (max-width:768px){
    .right{
      margin-right: 8,33%;
      gap: 12px;
    }
    
  }
  #heading_hero{
    padding-top: 160px;
    margin-left: 60px;
  }
  @media (max-width: 768px){
    #heading_hero{
      padding-top: 78px;
    margin-left: 40px;
    }
  }
    
  #hero_text{
    width: 470px;
    height: 120px;
  }
  @media (max-width: 768px){
    #hero_text{
      width: 390px;
      height: 72px;
      margin-top: 20px;
    }
  }
 
  p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin-top: 10px;
  }
  @media (max-width: 768px){
    p{
      font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
    }
  }
 
  
  #bottom_hero{
    margin-top: 25px;
    height: 55px;
    width: 220px;
background-color: #BDAE82;
border-radius: 0px;
  }
  @media (max-width: 768px){
    #bottom_hero{
      margin-top: 60px;
    }
  }
  
  .bottom_price{
    height: 55px;
    width: 220px;
background-color: #BDAE82;
border-radius: 0px;
margin: 0;
  }
  .bottom_contact{
    height: 55px;
    width: 220px;
background-color: #BDAE82;
border-radius: 0px;
margin-top: 30px;
  }
  @media (max-width: 1440px){
    .bottom_contact{
      margin-right: auto;
      margin-left: auto;
    }
  }
 
 
  .bottom_text{
width: 220px;
height: 55px;
text-align: center;
color: #000000;
cursor: pointer;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
border: none;
background: none;
transition:0.25s;
  }
  button:hover, button:focus{transition:0.25s; color:#BDAE82;}
  
  
  
  
 
  .bottom_text:hover, .bottom_text:focus, .bottom_text_contact:hover , .bottom_text_contact:focus {
    box-shadow: inset -7em 0 0 0 #000000, inset 7em 0 0 0 #000000;
    border: 1px solid #BDAE82;
  }
  .bottom_text.light-theme:hover, .bottom_text.light-theme:focus, .bottom_text_contact.light-theme:hover , .bottom_text_contact.light-theme:focus {
    box-shadow: inset -7em 0 0 0 #BDAE82, inset 7em 0 0 0 #BDAE82;
    color: white;
    border: 1px solid #BDAE82;
  }
  .nav-link:hover{
    color: #BDAE82;
    
  }
  .nav-link-footer:hover{
    color: #BDAE82;
    
  }
  .en:hover{
    color: #BDAE82;
  }
  .ru:hover{
    color: #BDAE82;
  }
  .bottom_portfolio{
     text-align: center;
    color: #BDAE82;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #BDAE82;
    background: none;
    transition: 0.3s;
    margin-top: 25px;
    height: 55px;
    width: 220px;
background-color: black;
border-radius: 0px;
      }
      .bottom_portfolio.light-theme{
background-color: white;
color: black;
      } 
  @media (max-width:1000px) {
    .bottom_portfolio{
      margin: 0;
    }
  }
  .bottom_portfolio.active {
    color: #000;
    background-color: #bdae82;
    border: 1px solid #BDAE82;
  }
  .bottom_portfolio.active.light-theme{
    color: white;
  }
  
  .bottom_text_contact{
    width: 220px;
    height: 55px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    border: none;
    background: none;
      }
  #photo{
    height: 1145px;
    padding: 0;
    margin: 60px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  }
  @media (max-width:1000px){
    #photo{
      display: flex;
    justify-content: center;
    gap: 25px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }
  }
  .photo_item{
    width: 32.1428%;
  }
  @media (max-width:1000px){
    .photo_item{
     width: 450px;
    }
  }
  #video_item{
    margin: 60px 20px 0px 20px;
    min-height: 705px;
    background-color: blanchedalmond;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/video-player.png');
  background-size:cover;
      background-repeat: no-repeat;
  }
  @media (max-width: 1000px) {
    #video_item{
      margin-left: 0px;
      margin-right: 0px;
      min-height: 418px;
      margin-top: 49px;
      background-position: -5px 0;
    }
    }
  #video_player{

    width: 100%;
    
    
  }
  
  #video_button{
    position: absolute;
    width: 129.86px;
    height:130px;
    left:636px;
    background-image:url('./assets/svg/Play_hover.svg');
  }
  
  #footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 150px;
    
  }
  @media(max-width:768px){
    #footer{
      height: 190px;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 28px;
      padding-top: 9px;
    }
  }
  #left_part{
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
    align-items: center;
    gap: 20px;   
  }
  #center_part{
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  @media(max-width:768px){
    #center_part{
      padding-bottom: 20px;
    }
  }

  #right_part{
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    align-items: center;
    gap: 20px; 
  }
  .left_part_content{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0;
  }
section{
  margin: 0;
  padding: 0;
  background-color: black;
}
section.light-theme{
    background-color: #fff;
    color: #000;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
      }
      
  .section-bg {
    max-width: 1440px;
    height: 820px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url('./assets/img/bg.png');
      background-position: center -90px;
      background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    .section-bg{
    height: 500px;
    background-image: url('./assets/img/bg_1.jpg');
    background-position: center -90px;
  }
}
  

  .section-skills {
    max-width: 1440px;
    height: 482px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-skills.light-theme {
    background-color: #fff;
    color: #000;
    border: 0.1px solid white;
  }
  @media (max-width: 1000px) {
    .section-skills{height: 729px;
    }
    }
  .section-portfolio {
    max-width: 1440px;
    height: 1500px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-portfolio.light-theme {
    background-color: #fff;
    color: #000;
    border: 0.1px solid white;
  }
  @media (max-width: 1000px) {
    .section-portfolio{height: 3870px;
    }
    }
  .section-video {
    max-width: 1440px;
    height: 945px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-video.light-theme {
    background-color: #fff;
    color: #000;
    border: 0.1px solid white;
  }
  @media (max-width: 1000px) {
    .section-video{height: 628px;
    }
    }
  .section-price {
    max-width: 1440px;
    height: 845px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-price.light-theme {
    background-color: #fff;
    color: #000;
    border: 0.1px solid white;
  }
  @media (max-width: 1000px) {
    .section-price{height: 1905px;
    }
    }
  .section-contacts {
    max-width: 1440px;
    height: 700px;
    left: 0px;
    background-size: auto 700px;
    background-image: url('./assets/img/contacts.jpg');
    background-position: center center;
  }
  @media (max-width: 900px){
    .section-contacts{
      height: 600px;
      display: flex;
      justify-content: space-around;
      align-content: center;
      background-image: url('./assets/img/contacts_new.jpg');
      background-size: cover;
    }
  }
  .section-title {
    height: 80px;
    width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  }
 .section-title.light-theme{
  background-image:linear-gradient(to top, #ffffff 39px, #000000 39px, #000000 41px, rgb(255, 255, 255) 41px)
 }
  @media (max-width: 768px){
    .section-title{
      margin-top: 80px;
      width: 364px;
    }
    }
  .section-title-contacts {
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #section-title-line {
    height: 2px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 39px;
    background: #BDAE82;
    border-radius: 0px;
  }
  #rectangle{
    height: 80px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    background: #000000;
    border-radius: 0px;
  }
  #skills-items{
    display: flex;
    justify-content: space-between;
    
    margin: 60px 20px 0px 20px;
  }
  @media (max-width: 1000px) {
    #skills-items{
      margin-top:  36px ;
      display: flex;
    justify-content: center;
    align-items: center;
      margin-left: auto;
      margin-right: auto;
      gap: 30px;
      padding: 9px 20px 0 20px;
      flex-wrap: wrap;
    }
  }
  .skill-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-position: center top;
    width: 320px;
    height: 232px;
  }
  @media (max-width: 768px) {
    .skill-item{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: flex-start;
      gap: 20px;
     width: 300px;
    }
  }
  #prices{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 20px 0px 20px;
  }
  @media (max-width: 1440px){
    #prices{
      display: flex;
      justify-content: center;
      flex-wrap: wrap; 
      margin-left: auto;
      margin-right: auto;
      gap: 1.736%;
    }
  }
  @media (max-width: 1000px){
    #prices{
      width: 460px;
      gap: 49px;
     
    margin-top: 50px;
    }
  }
  .price-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-position: center top;
    width: 32.1428%;
    height: 505px;
    border: 3px solid #BDAE82;
    gap: 25px;
    padding: 43px 0;
      }
      @media (max-width: 1000px){
        .price-item{
          width: 420px;
       
        }
        }
    .header_price{
      font-family: Merriweather;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 56px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
    }
    .header_price.light-theme{
      color: black;
    }
    .count_price{
      font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 34px;
text-align: center;
color: #BDAE82;
margin: 0;
    }
    .what_include{
      font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
margin: 0;
    }
    .what_include.light-theme{
      color: black;
    }
  .header_text{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
  }
  @media (max-width: 768px){
    .header_text{
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
  .header_text.light-theme{
    color: black;
  }
  .skills_text{
    margin: 0 20px;
height: 72px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
  }
  @media (max-width: 768px){
    .skills_text{
      margin: 0;
      line-height:22px ;
      width: 280px;
    }
  }
  .skills_text.light-theme{
    color: black;
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 5px;

  }
  @media (max-width: 1000px){
    .buttons{
      flex-wrap: wrap;
      width: 445px;
      margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    }
    .buttons_price{
      margin-top: 0;
    }
  }
  .buttons_price{
    display: flex;
    justify-content: center;
    gap: 5px;

  }
 
  span {
    width: 152px;
    height: 80px;
    padding: 0px 20px;
    background-color: black;
     }
     span.light-theme{
       color: black;
       background-color: white;
     }
         #contact_form {
          margin-left: 67.36%;
          padding-top: 60px;
          width: 31.25%;
      }
      @media (max-width:1440px){
        #contact_form{
          width: 450px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 53px;
        }
      }
      #contactme{
        text-align: left;
      }
      @media (max-width:1000px){
        #contactme{
          text-align: center;
          margin-bottom: 31px;
        }
      }
      form{
        
        height: 240px;
        width: 450px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      input{
        height: 50px;
padding: 0;
background: none;
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;

      }
      @media (max-width:1000px){
        input{
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      input::placeholder{
        font-family: inherit;
        color: #bdae82;
        font-size: 20px;
        padding: 5px 226px 5px 20px;
        line-height: 40px;
        align-items: center;
        
        
      }
      textarea {
        height: 100px;
padding: 0;
background: none;
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;
resize: none;
      }
      @media (max-width:1000px){
        textarea{
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      textarea::placeholder{
        font-family: Inter;
        color: #bdae82;
        font-size: 20px;
        padding: 5px 0px 5px 20px;
        line-height: 40px;
        align-items: center;
        
        
      }
  .camera_header{
    background: #FFFFFF;
    height: 40px;
    width: 50px;
    position: absolute;
width: 50px;
height: 50px;
left: 20px;
top: 20px;
  }
  nav{
  
    margin-left: auto;
  }
  @media (max-width:768px){
    nav{
      margin-left: 127px;
      margin-top: 134px;
    }
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    line-height: 50px;
    
    margin: 20px 0;
     }
     @media(max-width:768px){
       .nav-list{
         flex-direction: column;
         align-items: flex-start;
       }
     }
     .nav-link-head {
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      padding-left: 31px;
    }
    
    @media(max-width:768px){
      .nav-link-head{
        padding-left: 0;
        font-size: 35px;
        line-height: 73px;
      }
      .nav-link-head.light-theme {
        color: #000;
  }
    }
    .nav-link-footer {
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
    }
    .en {
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      gap: 9px;
      margin: 0;
      padding: 0;

    }
    .en:last-child{
      padding-left: 20px;
    }
    .ru {
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      gap: 9px;
      margin: 0;
      padding: 0;
    }
    .ru:last-child{
      padding-left: 20px;
    }
    
  
    .slash{
      margin: 0;
      padding: 0;
    }
    #footer_link{
      padding: 0;
    }
    #header {
      background-image: url('./assets/img/bg.png');
      background-repeat: no-repeat;
      background-position: center 0;
      margin: 0 auto;
      max-width: 1440px;
      height: 90px;  
      display: flex;
    justify-content: space-between; 
     
    }
    @media (max-width: 768px){
      #header{
    background-image: url('./assets/img/bg_1.jpg');
    background-position: center 0;
       height: 90px;
       padding-left: 40px;
       padding-right: 43px;
      }
    }
   
    .hero-container {
      background-image: url('./assets/img/bg.png');
      background-position: center -90px;
      background-repeat: no-repeat;
    }
    .logo {
      
      background-size: contain;
      background-repeat: no-repeat;  
      transition: 0.3s;
    }
    .logo_swithcer {
      background-image: url('./assets/svg/moon.svg');
      background-size: contain;
      background-repeat: no-repeat;  
      transition: 0.3s;
      width: 45px;
      height: 45px;
    }
    .logo_swithcer:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
    }
    .logo_swithcer.sun{
      background-image: url('./assets/svg/carbon_sun.svg');
    }
    .play {
      
      background-size: contain;
      background-repeat: no-repeat;  
      transition: 0.3s;
      position: fix;
left: 45.56%;
right: 45.43%;
top: 55.87%;
bottom: 30.37%;
    }
    @media (max-width: 1000px){
      .play{
    width: 64.62px;
      }
    }
    .play:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
    }
    .logo:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
    }
    .logo_skills{
      height: 50px;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 50px;
      height: 28px;
      cursor: pointer;
      user-select: none;
      z-index: 2;
      
    }

    @media(min-width:769px){
      .hamburger{
        display: none;
      }
    }
    
    .line {
      width: 100%;
      height: 3px;
      background: white;
      z-index: 15;
      transition: all 0.3s ease-in-out;
    }
    
    .hamburger.open .line1 {
      transform: rotate(-45deg) translate(-12px, 6px);
      background-color: #BDAE82;
    }
    
    .hamburger.open .line2 {
      opacity: 0;
    }
    
    .hamburger.open .line3 {
      transform: rotate(45deg) translate(-10px, -6px);
      background-color: #BDAE82;
    }
    