body {
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

html {
    scroll-behavior: smooth; 
  }
* {
    box-sizing: border-box;
  }
  h1{
      margin-top: 0;
  }
  h2 {
      margin-top: 0;
      width: 112px;
    height: 80px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
  }
  
  #header{
    display: flex;
    justify-content: space-between;
    
  }
  #left {
    margin-top: 25px;
    margin-left: 20px;
  }
  #center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    flex-grow: 2;
  }
  #right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin: 20px 20px 20px 31px;
    
  }
  
  #heading_hero{
    padding-top: 160px;
    margin-left: 60px;
  }
  h1{
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #FFFFFF;
margin: 0;
  }
  #hero_text{
    width: 470px;
    height: 120px;
  }
  p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin-top: 10px;
  }
  #bottom_hero{
    margin-top: 25px;
    height: 55px;
    width: 220px;
background-color: #BDAE82;
border-radius: 0px;
  }
  .bottom_price{
    height: 55px;
    width: 220px;
background-color: #BDAE82;
border-radius: 0px;
margin: 0;
  }
  .bottom_contact{
    height: 55px;
    width: 220px;
background-color: #BDAE82;
border-radius: 0px;
margin-top: 30px;
  }
  .bottom_portfolio{
    margin-top: 25px;
    height: 55px;
    width: 220px;
background-color: black;
border-radius: 0px;
  }
  .bottom_text{
width: 220px;
height: 55px;
text-align: center;
color: #000000;
cursor: pointer;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
border: none;
background: none;
  }
  .bottom_text:hover{
    color: #BDAE82;
    border: none;
    background-color: black;
    border: 1px solid #BDAE82;
  }
  .bottom_text_contact:hover{
    color: #BDAE82;
    border: none;
    background-color: black;
    border: 1px solid #BDAE82;
  }
  .nav-link:hover{
    color: #BDAE82;
    
  }
  .lang_switch:hover{
    color: #BDAE82;
  }
  .bottom_text_portfolio{
    width: 220px;
    height: 55px;
    text-align: center;
    color: #BDAE82;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #BDAE82;
    background: none;
    transition: 0.3s;
      }
  .bottom_text_portfolio:hover{
    color: black;
    border: none;
    background-color: #BDAE82;
  }
  .bottom_text_contact{
    width: 220px;
    height: 55px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    border: none;
    background: none;
      }
  #photo{
    height: 1145px;
    padding: 0;
    margin: 60px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  }
  .photo_item{
    height: 560px;
  }
  #video_item{
    margin: 60px 20px 0px 20px;
    height: 705px;
    background-color: blanchedalmond;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  #video_player{
    background-image: url('./assets/img/video-player.png');
    width: 1400px;
    height: 705px;
    controls
  }
  #video_button{
    position: absolute;
    width: 129.86px;
    height:130px;
    left:636px;
    background-image:url('./assets/svg/Play_hover.svg');
  }
  
  #footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 150px;
    
  }
  #left_part{
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
    align-items: center;
    gap: 20px;   
  }
  #center_part{
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  #right_part{
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    align-items: center;
    gap: 20px; 
  }
  .left_part_content{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0;
  }
section{
  margin: 0;
  padding: 0;
  background-color: black;
}
.container {
    width: 1440px;
    margin: 0 auto;
    
  }
  .section-bg {
    width: 1440px;
    height: 820px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url('./assets/img/bg.png');
      background-position: center -90px;
      background-repeat: no-repeat;
  }

  .section-skills {
    width: 1440px;
    height: 482px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-portfolio {
    width: 1440px;
    height: 1500px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-video {
    width: 1440px;
    height: 945px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-price {
    width: 1440px;
    height: 845px;
    margin-left: 0px;
    border: 0.1px solid black;
  }
  .section-contacts {
    width: 1440px;
    height: 700px;
    left: 0px;
    background-size: auto 700px;
    background-image: url('./assets/img/contacts.jpg');
    background-position: center center;
  }
  .section-title {
    height: 80px;
    width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  }
  .section-title-contacts {
    height: 80px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #section-title-line {
    height: 2px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 39px;
    background: #BDAE82;
    border-radius: 0px;
  }
  #rectangle{
    height: 80px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    background: #000000;
    border-radius: 0px;
  }
  #skills-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 20px 0px 20px;
  }
  .skill-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-position: center top;
    width: 320px;
    height: 232px;
  }
  #prices{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 20px 0px 20px;
  
    
  }
  .price-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-position: center top;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
    gap: 25px;
    padding: 43px 0;
      }
    .header_price{
      font-family: Merriweather;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 56px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
    }
    .count_price{
      font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 4px;
text-align: center;
color: #BDAE82;
margin: 0;
    }
    .what_include{
      font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
margin: 0;
    }
  .header_text{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
  }
  .skills_text{
    margin: 0 20px;
height: 72px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 5px
  }
  span {
    width: 152px;
    height: 80px;
    padding: 0px 20px;
    background-color: black;
     }
         #contact_form {
        margin-left: 970px;
        padding-top: 60px;
      }
      #contactme{
        text-align: left;
      }
      form{
        
        height: 240px;
        width: 450px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      input{
        height: 50px;
padding: 0;
background: none;
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;

      }
      input::placeholder{
        font-family: inherit;
        color: #bdae82;
        font-size: 20px;
        padding: 5px 226px 5px 20px;
        line-height: 40px;
        align-items: center;
        
      }
      textarea {
        height: 100px;
padding: 0;
background: none;
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;
resize: none;
      }
      textarea::placeholder{
        font-family: Inter;
        color: #bdae82;
        font-size: 20px;
        padding: 5px 0px 5px 20px;
        line-height: 40px;
        align-items: center;
        
        
      }
  .camera_header{
    background: #FFFFFF;
    height: 40px;
    width: 50px;
    position: absolute;
width: 50px;
height: 50px;
left: 20px;
top: 20px;
  }
  nav{
  
    margin-left: auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    line-height: 50px;
    
    margin: 20px 0;
     }
     .nav-link {
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      padding-left: 31px;
    }
    .lang_switch {
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      gap: 9px;
    }
    #slash{
      margin: 0;
      padding: 0;
    }
    #footer_link{
      padding: 0;
    }
    .header-container {
      background-image: url('./assets/img/bg.png');
      background-repeat: no-repeat;
      background-position: center 0;
      margin: 0 auto;
      width: 1440px;
      height: 90px;    
    }
    .hero-container {
      background-image: url('./assets/img/bg.png');
      background-position: center -90px;
      background-repeat: no-repeat;
    }
    .logo {
      
      background-size: contain;
      background-repeat: no-repeat;  
      transition: 0.3s;
    }
    .logo:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
    }
    .logo_skills{
      height: 50px;
    }
  